<div class="container-fluid mt-4 mb-4">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group form-inline font-weight-bold">
                    Ingresar nombre del medico a buscar o su rut: <input class="form-control ml-2" type="text" [formControl]="filter"/>
                </div>
              </form>
              
              <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre Paciente</th>
                  <th scope="col">Rut</th>
                  <th scope="col">Especialidad</th>
                  <th scope="col">Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let country of countries$ | async; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>
                    <ngb-highlight [result]="country.name" [term]="filter.value"></ngb-highlight>
                  </td>
                  <td><ngb-highlight [result]="country.area" [term]="filter.value"></ngb-highlight></td>
                  <td><ngb-highlight [result]="country.population" [term]="filter.value"></ngb-highlight></td>
                  <td><button class="btn btn-sm btn-primary" routerLink="../Perfil">Ver Perfil</button></td>
                </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                </ngb-pagination>
              
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                  <option [ngValue]="2">2 pacientes por pagina</option>
                  <option [ngValue]="4">4 pacientes por pagina</option>
                  <option [ngValue]="6">6 pacientes por pagina</option>
                </select>
              </div>
        </div>
    </div>
</div>