<div class="card">
    <div class="card-body">
        <div class="container">
        <div class="row">
            <div class="cold-md-6">
                <h4><b>Solicitud</b></h4>
            </div>
            <div class="cold-md-6 ml-auto">
                <span><i class="fas fa-calendar-alt"></i> 19 de Abril 2020 16:45 horas</span>
                <span class="ml-2"><i class="fas fa-user-md"></i> Dr. Emilio Contreras Rojas</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center mt-2">
                <h4><i class="fas fa-briefcase-medical"></i> Consulta General</h4>
            </div>
            <div class="col-md-6 d-flex justify-content-around">
                <button class="btn btn-primary">Evaluar</button><button class="btn btn-danger">Anular</button>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <div class="container">
        <div class="row">
            <div class="cold-md-6">
                <h4><b>Finalizada</b></h4>
            </div>
            <div class="cold-md-6 ml-auto">
                <span><i class="fas fa-calendar-alt"></i> 2 de Enero 2020 12:30 horas</span>
                <span class="ml-2"><i class="fas fa-user-md"></i> Dra. Litzy Avello Rojas</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center mt-2">
                <h4><i class="fas fa-briefcase-medical"></i> Nutricionista</h4>
            </div>
            <div class="col-md-6 d-flex justify-content-around">
                <button class="btn btn-primary">Visualizar Atención</button>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <div class="container">
        <div class="row">
            <div class="cold-md-6">
                <h4><b>Finalizada</b></h4>
            </div>
            <div class="cold-md-6 ml-auto">
                <span><i class="fas fa-calendar-alt"></i> 24 de Noviembre 2019 10:30 horas</span>
                <span class="ml-2"><i class="fas fa-user-md"></i> Dra. Cristina Solis Avello</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center mt-2">
                <h4><i class="fas fa-briefcase-medical"></i> Dermatologo</h4>
            </div>
            <div class="col-md-6 d-flex justify-content-around">
                <button class="btn btn-primary">Visualizar Atención</button>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <div class="container">
        <div class="row">
            <div class="cold-md-6">
                <h4><b>Finalizada</b></h4>
            </div>
            <div class="cold-md-6 ml-auto">
                <span><i class="fas fa-calendar-alt"></i> 2 de Enero 2020 12:30 horas</span>
                <span class="ml-2"><i class="fas fa-user-md"></i> Dra. Litzy Avello Rojas</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center mt-2">
                <h4><i class="fas fa-briefcase-medical"></i> Nutricionista</h4>
            </div>
            <div class="col-md-6 d-flex justify-content-around">
                <button class="btn btn-primary">Visualizar Atención</button>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="card mt-4 mb-4">
    <div class="card-body">
        <div class="container">
        <div class="row">
            <div class="cold-md-6">
                <h4><b>Finalizada</b></h4>
            </div>
            <div class="cold-md-6 ml-auto">
                <span><i class="fas fa-calendar-alt"></i> 24 de Noviembre 2019 10:30 horas</span>
                <span class="ml-2"><i class="fas fa-user-md"></i> Dra. Cristina Solis Avello</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center mt-2">
                <h4><i class="fas fa-briefcase-medical"></i> Dermatologo</h4>
            </div>
            <div class="col-md-6 d-flex justify-content-around">
                <button class="btn btn-primary">Visualizar Atención</button>
            </div>
        </div>
    </div>
    </div>
</div>