/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* BLOQUEA BARRA DE NAVEGACION EJE X Y NO PERMITE SELECCIONAR NADA */
html, body {
    overflow-x: hidden;
    user-select: none;
  }

  body{
    background-color: #F8F8F8 !important;
    font-family: 'Roboto', sans-serif !important;
  }

  .card-button{
    cursor: pointer;
  }

  legend {
    font-size: 17px;
      padding: 3px 5px 3px 7px;
      margin-left: .5rem;
    width: auto;
  }

  p {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
  }

  .scroll {
    max-height: 525px;
    overflow-y: auto;
}
