<fieldset class="border card mt-4">
    <legend>Nueva Atención</legend>
        <div class="card-body">
        <div class="row">
            <div class="col-12">
                <form>
                    <label class="font-weight-bold">Motivo atención</label>
                    <textarea class="form-control" rows="5"></textarea>
                    <button class="btn btn-primary btn-sm btn-block mt-4">Ingresar</button>
                    <button class="btn btn-danger btn-sm btn-block mt-2" routerLink="../">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</fieldset>