<fieldset class="border card mt-2">
    <legend>Formulario Atención</legend>
    <div class="card-body scroll">
        <div class="row">
            <div class="col-12">
                <form>
                    <label class="font-weight-bold">Motivo atención</label>
                    <textarea class="form-control" rows="3"
                        disabled>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum vel dolores ut. Quas, excepturi tempore placeat maiores vitae quos eius?</textarea>
                </form>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <fieldset class="border">
                    <legend class="font-weight-bold">Mediciones y signos vitales</legend>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <label>Estatura (cms)</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3">
                                <label>Peso (Kg)</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3">
                                <label>Temperatura (C°)</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3">
                                <label>Presión Arterial</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="row justify-content-center mt-2 mb-4">
                            <div class="col-md-3">
                                <label>Fre. Cardiaca</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                            <div class="col-md-3">
                                <label>Fre. Respiratoria</label>
                                <input type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <form>
                    <label class="font-weight-bold">Observaciones</label>
                    <textarea class="form-control" rows="3"></textarea>
                </form>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <label>Nivel Urgencia</label>
                <select name="nivelUrgencia" class="form-control form-control-sm mb-4">
                    <option value="">--Seleccione--</option>
                    <option value="1">1.-Resucitacion</option>
                    <option value="2">2.-Emergencia</option>
                    <option value="3">3.-Urgencia</option>
                    <option value="4">2.-Urgencia Menor</option>
                    <option value="5">2.-Sin Urgencia</option>
                </select>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <form>
                    <label class="font-weight-bold">Prcedimiento Realizado</label>
                    <textarea class="form-control" rows="3"></textarea>
                </form>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <form>
                    <label class="font-weight-bold">Indicaciones</label>
                    <textarea class="form-control" rows="3"></textarea>
                </form>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <label>Diagnostico CIE-10</label>
                <select name="nivelUrgencia" class="form-control form-control-sm mb-4">
                    <option value="">--Seleccione--</option>
                    <option value="1">1.-Resucitacion</option>
                    <option value="2">2.-Emergencia</option>
                    <option value="3">3.-Urgencia</option>
                    <option value="4">2.-Urgencia Menor</option>
                    <option value="5">2.-Sin Urgencia</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
    </div>
</fieldset>