<fieldset class="border card">
    <legend>Nueva Receta</legend>
    <div class="scroll">
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <label>Nombre Medicamento</label>
                    <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-md-6">
                    <label>Indicaciones</label>
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block btn-sm">Agregar item a la lista</button>
                </div>
            </div>
        </form>
    </div>

    <div class="container mb-4">
    <div class="border">
        <div class="container-fluid mt-4">
            <!-- DATOS VETERINARIA -->
            <div class="row text-center">
                <div class="col-1">
                    <img src="https://www.neofox.cl/img/neofox-nav.png" style="width: 8rem;">
                </div>
                <div class="col-11">
                    <p class="font-weight-bold mr-5">Nombre del centro medico</p>
                    <p class="mr-5">Dirección del centro medico</p>
                    <p class="mr-5">Número del centro medico</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-6 text-center">
                    <p><b>Nombre Medico:</b> Nombre Completo</p>
                </div>
                <div class="col-md-6 text-center">
                    <p><b>Nombre Paciente:</b> Nombre Completo</p>
                </div>
            </div>
            <hr>
            <div class="row mt-4">
                <div class="col-md-12">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>Nombre Medicamento: </b>Paracetamol</p>
                                <p><b>Indicación: </b>1 pastilla cada 8 horas</p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-sm btn-danger">Eliminar</button>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>Nombre Medicamento: </b>Paracetamol</p>
                                <p><b>Indicación: </b>1 pastilla cada 8 horas</p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-sm btn-danger">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <p><em>- Esta receta medica tiene una vigencia de 10 días desde la fecha de emisión</em></p>
            <br>
            <div class="row mt-4 mb-4">
                <div class="col-md-6">
                    <p class="firmas text-center h5 font-weight-bold">Firma/Timbre Medico</p>
                </div>
                <div class="col-md-6">
                    <p class="firmas text-center h5 font-weight-bold">Fecha Emisión</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mb-3">
<button class="btn btn-primary btn-block">Generar Receta</button>
</div>

</div>

</fieldset>