<fieldset class="border card mt-2">
    <legend>Formulario Hospitalizacion</legend>
    <div class="card-body scroll">
        <div class="row">
            <div class="col-12">
                <p><b>Número Hospitalización: </b>N° 121</p>
                <p><b>Camilla: </b>C01</p>
                <p><b>Fecha Hospitalización: </b>25 de Enero 2020</p>
                <p><b>Derivado Por: </b>Dr. Emilio Contreras</p>
                <p><b>Diagnostico: </b>Lorem Ipsum</p>
                <p><b>Procedimiento: </b>Ambulatorio</p>
                <p><b>Motivo Hospitalizacion: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quo
                    quas cumque corporis nostrum voluptate recusandae! Nisi delectus hic quaerat facere beatae,
                    cupiditate, incidunt, quos asperiores totam provident consequuntur vero.</p>
                <p><b>Indicaciones: </b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, ipsum.</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-9">
                <label class="font-weight-bold">Formulario de seguimiento</label>
                <textarea rows="5" class="form-control"></textarea>
            </div>
            <div class="col-md-3 my-auto">
                <button class="btn btn-success btn-sm btn-block">Adjuntar Documento</button>
                <p class="text-center">Ningún archivo cargado</p>
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-2">Ingresar Seguimiento</button>

        <div class="row mt-2">
            <div class="col-md-12">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Encargado</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Documento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">2 de Enero 2020 15:39</th>
                            <td>Dra. Litzy Avello Rojas</td>
                            <td>La herida no presenta inflamación y se encuentra perfectamente cerrada</td>
                            <td class="text-center"><i class="fas fa-file fa-lg"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mt-4 justify-content-around">
            <div class="col-md-4">
                <button class="btn btn-primary btn-block">Dar de alta</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-block">Cambiar camilla</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-block" routerLink="../">Volver</button>
            </div>
        </div>
    </div>
</fieldset>