<div class="container-fluid mt-4 mb-4">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center font-weight-bold">Registro de Nuevo Medico</h3>
            <div class="row">
                <div class="col-md-6">
                    <fieldset class="border">
                        <legend>Datos Basicos</legend>
                        <div class="container mt-2">
                        <label>Nombre Completo</label>
                        <input type="text" name="nombrePaciente" class="form-control form-control-sm">
                        <label class="mt-2">Rut</label>
                        <input type="text" name="rutPaciente" class="form-control form-control-sm">
                        <label class="mt-2">Fecha Nacimiento</label>
                        <input type="date" name="fechaPaciente" class="form-control form-control-sm">
                        <label class="mt-2">Genero</label>
                        <select name="generoPaciente" class="form-control form-control-sm mb-4">
                            <option value="">--Seleccione--</option>
                            <option value="1">Hombre</option>
                            <option value="2">Mujer</option>
                        </select>
                    </div>
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="border">
                        <legend>Datos de Contacto</legend>
                        <div class="container mt-2">
                        <label>Numero de Contacto</label>
                        <input type="text" name="numeroPaciente" class="form-control form-control-sm">
                        <label class="mt-2">N° Contacto Familiar</label>
                        <input type="text" name="familiarPaciente" class="form-control form-control-sm">
                        <label class="mt-2">Correo Electronico</label>
                        <input type="date" name="correoPaciente" class="form-control form-control-sm">
                        <label class="mt-2">Residencia</label>
                        <input type="date" name="residenciaPaciente" class="form-control form-control-sm mb-4">
                    </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <fieldset class="border">
                        <legend>Datos Adicionales</legend>
                        <div class="container-fluid mt-2">
                        <label>Alergias a Medicamentos</label>
                        <input type="text" name="numeroPaciente" class="form-control form-control-sm">
                        <label class="mt-2">Enfermedades Cronicas</label>
                        <input type="text" name="residenciaPaciente" class="form-control form-control-sm mb-4">
                    </div>
                    </fieldset>
                </div>
            </div>
            <button class="btn btn-primary btn-block btn-sm mt-4">Ingresar</button>
        </div>
    </div>
</div>