<div class="card">
    <div class="card-body">
        <div class="container">
        <h4 class="text-center">Historial de Peso</h4>
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Peso</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>23 de Enero 2019</td>
                            <td>34 años</td>
                            <td>45 Kg.</td>
                        </tr>
                        <tr>
                            <td>20 de Diciembre 2018</td>
                            <td>34 años</td>
                            <td>43 Kg.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
    </div>
</div>