<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-4" style="margin-top: 2.6rem;">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="https://uybor.uz/borless/uybor/img/user-images/user_no_photo_300x300.png"
                                class="img-fluid">
                        </div>
                        <div class="col-md-9">
                            <h4 class="font-weight-bold">Bryan Vidal Diaz</h4>
                            <p><b>Ficha Paciente </b>N°65</p>
                            <p><b>Edad </b>24 años 6 meses 7 días</p>
                            <p><b>Rut </b>18.522.783-9</p>
                            <p><b>Dirección </b>Villa Todos los Santos, Pje. Sta. Ana #336, Los Ángeles</p>
                            <p><b>Contacto </b>+569 7850 4418</p>
                            <p><b>Alergias </b>Panadol y Aspirina</p>
                        </div>
                    </div>
                    <div class="card card-button mt-4 h5" routerLink="NuevaAtencion">
                        <div class="card-body text-center">
                            <p><i class="fas fa-hand-holding-medical"></i> Nueva Atención</p>
                        </div>
                    </div>
                    <div class="card card-button mt-2 h5">
                        <div class="card-body text-center">
                            <p><i class="fas fa-file-medical"></i> Solicitar Examen</p>
                        </div>
                    </div>
                    <div class="card card-button mt-2 h5">
                        <div class="card-body text-center">
                            <p><i class="fas fa-calendar-plus"></i> Agendar Cita</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>